@font-face {
  font-family: "iconfont"; /* Project id 2671790 */
  src: url('//at.alicdn.com/t/font_2671790_ryc22ehr23p.woff2?t=1627295699814') format('woff2'),
       url('//at.alicdn.com/t/font_2671790_ryc22ehr23p.woff?t=1627295699814') format('woff'),
       url('//at.alicdn.com/t/font_2671790_ryc22ehr23p.ttf?t=1627295699814') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxizhongxin:before {
  content: "\e606";
}

.icon-packaging:before {
  content: "\e75b";
}

.icon-security:before {
  content: "\e762";
}

.icon-feeds:before {
  content: "\e751";
}

.icon-set:before {
  content: "\e76c";
}

.icon-store:before {
  content: "\e76f";
}

.icon-vip:before {
  content: "\e773";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-order:before {
  content: "\e7b3";
}
