.homePage{
  .contentTop{
    height: 400px;
    background-color: lightcoral;
  }
  .contentCenter{
    height: 200px;
    margin: 10px 0;
    background-color: lightslategrey;
  }
  .contentBottom{
    height: 200px;
    background-color: lightseagreen;
  }
}